<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HENG ANN LIN</title>
	<link rel="stylesheet" type="text/css" href="css/aboutme.css">
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/aboutme.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Unkempt|Patrick+Hand+SC|Source+Code+Pro|Chewy|Megrim|Freckle+Face' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="wrapper">
<div id="aaaaa"><a href="index.html"><img id="CM" src="image/CM.png" alt="CM"></a></div>
	<div id="header">
    
            <nav >  
                <ul>  
                    <li><a href="index.html">HOME</a></li>  
                    <li><a class="active" href="aboutme.html">ABOUT ME</a></li>                       
                    <li><a href="works.html">WORKS</a></li>  
                    <li><a href="contact.html">CONTACT</a></li>  
                </ul>    
            </nav>    
    </div>

    <div id="firstbox">  <img id="abmtop" src="image/abmtop.jpg" style="width:960px;height:300px;" alt="abmtop">  </div>

    <div id="secondbox">  <img id="aaa" src="image/graphic.jpg" alt="CM">
        <div class="abgne-block-20110806">
            <ul>
              <!--圖檔為小圖，大圖用小圖的檔名後面加-normal，如：a-normal-->
              <li><a href="#"><img src="image/a.jpg" /></a></li>
              <li><a href="#"><img src="image/b.jpg" /></a></li>
              <li><a href="#"><img src="image/c.jpg" /></a></li>
              <li><a href="#"><img src="image/d.jpg" /></a></li>
            </ul>
        </div>

     </div>

    <div id="thirdbox">  <img id="aa" src="image/logo.jpg" alt="CM">

        <div class="abgne-block-2011">
            <ul>
              <!--圖檔為小圖，大圖用小圖的檔名後面加-normal，如：a-normal-->
              <li><a href="#"><img src="image/e.jpg" /></a></li>
              <li><a href="#"><img src="image/f.jpg" /></a></li>
              
            </ul>
        </div>

    </div>

    <div id="footer"><img id="CM2" src="image/CM.png" style="width:50px;height:30px;" alt="CM ">HENG ANN LIN</div>

</div>
</body>

</html>