<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HENG ANN LIN</title>
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/contact.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Schoolbell|Fredoka+One|Walter+Turncoat|Gloria+Hallelujah|Inconsolata|Slackey|VT323|Chewy|Indie+Flower|Chelsea+Market|Freckle+Face|Montserrat' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Unkempt|Patrick+Hand+SC|Source+Code+Pro|Chewy|Megrim|Freckle+Face' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="wrapper">
<div id="aaaaa"><a href="index.html"><img id="CM" src="image/CM.png" alt="CM"></a></div>
    <div id="header">
        
            <nav > 
                <ul> 

                    <li><a  href="index.html">HOME</a></li>  
                    <li><a href="aboutme.html">ABOUT ME</a></li>                       
                    <li><a  href="works.html">WORKS</a></li>  
                    <li><a class="active" href="contact.html">CONTACT</a></li> 

                </ul>    
            </nav> 
    </div>
    

    <div id="firstbox"> <img id="me" src="image/me.png" alt="me">  </div>
        <div id="send"><strong><p style="color:#ffffff ;font-size:16px"><br>FaceBook:Cross&Match</br><br>Phone:0955865358</br><br>Email:s19940703@gmail.com.tw</br></p></strong></div>
    

    <div id="footer"><img id="CM2" src="image/CM.png" style="width:50px;height:30px;" alt="CM ">HENG ANN LIN</div>

</div>
</body>

</html>