<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HENG ANN LIN</title>
	<link rel="stylesheet" type="text/css" href="css/ann.css">
	<script type="text/javascript" src="js/ann.js"></script>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  
  <link href='http://fonts.googleapis.com/css?family=Unkempt|Patrick+Hand+SC|Source+Code+Pro|Chewy|Megrim|Freckle+Face' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="wrapper">
	<div id="aaaaa"><a href="index.html"><img id="CM" src="image/CM.png" alt="CM"></a></div>
	<div id="header"></div>
	

	<div id="sidebar_left"><img id="left" src="image/left.jpg" style="width:410px;height:600px;" alt="left"></div>
	
	<div id="content"><img id="content123123" src="image/content.jpg" style="width:120px;height:600px;" alt="content"></div>
	

	<div id="sidebar_right"><img id="right" src="image/right.jpg" style="width:410px;height:600px;" alt="right">	</div>




	
	<div>
		<div class="flexbox flexbox-inline box">
			
			<div class="flexbox-item"><a href="aboutme.html"><input type="button" style="background-image:url(image/aboutme.jpg);width:125px;height:120px;"></a></div>

			<div class="flexbox-item"><img id="aboutme-1" src="image/aboutme-1.jpg" style="width:125px;height:120px;" alt="aboutme-1"></div>

			<div class="flexbox-item"><a href="works.html"><input type="button" style="background-image:url(image/works.jpg);width:125px;height:120px;"></a></div>

			<div class="flexbox-item"><img id="works-1" src="image/works-1.jpg" style="width:125px;height:120px;" alt="works-1"></div>

			<div class="flexbox-item"><a href="contact.html"><input type="button" style="background-image:url(image/contact.jpg);width:125px;height:120px;"></a></div>

			<div class="flexbox-item"><img id="contact-1r" src="image/contact-1.jpg" style="width:125px;height:120px;" alt="contact-1"></div>			
				
		</div>　
	

	</div>

	<div id="back"></div>
	<div id="footer"><img id="CM2" src="image/CM.png" style="width:50px;height:30px;" alt="CM ">HENG ANN LIN</div>

</div>









</body>

</html>
