<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HENG ANN LIN</title>
	<link rel="stylesheet" type="text/css" href="css/works.css">
  
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/works.js"></script>


 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  
<script >
!window.jQuery && document.write('<script src="jquery-1.4.3.min.js">');
</script>

<script type="text/javascript" src="./fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

<script type="text/javascript" src="./fancybox/jquery.fancybox-1.3.4.pack.js"></script>

<link rel="stylesheet" type="text/css" href="./fancybox/jquery.fancybox-1.3.4.css" media="screen" /> 
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Unkempt|Patrick+Hand+SC|Source+Code+Pro|Chewy|Megrim|Freckle+Face' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="wrapper">
<div id="aaaaa"><a href="index.html"><img id="CM" src="image/CM.png" alt="CM"></a></div>
	<div id="header">
  
        <nav >  
            <ul>  
                <li><a href="index.html">HOME</a></li>  
                <li><a href="aboutme.html">ABOUT ME</a></li>                       
                <li><a class="active" href="works.html">WORKS</a></li>  
                <li><a href="contact.html">CONTACT</a></li>  
            </ul>    
        </nav>    
    </div>
<div id="under">
<div class="abgne_tab">
    <ul class="tabs">
      <li><a href="#tab1" style="width:80px;text-align:center;line-height:50px;font-family:">AnderBear</a></li>
      <li><a href="#tab2" style="width:80px;text-align:center;line-height:50px;">Graphic</a></li>
      <li><a href="#tab3" style="width:80px;text-align:center;line-height:50px;">Arduino</a></li>

    </ul>
 
    <div class="tab_container">

          <div id="tab1" class="tab_content">
            
            <div class="pics1"><a id="example1" href="image/flowerbear.jpg"><img id="flowerbear" src="image/flowerbear.jpg" style="width:220px;height:220px;" alt="flowerbear"></a></div>

            <div class="pics1"><a id="example2" href="image/dotbear.jpg"><img id="dotbear" src="image/dotbear.jpg" style="width:220px;height:220px;" alt="dotbear"></a></div>

            <div class="pics1"><a id="example3" href="image/tiredbear.jpg"><img id="tiredbear" src="image/tiredbear.jpg" style="width:220px;height:220px;" alt="tiredbear"></a></div>

            <div class="pics1"><a id="example4" href="image/power.jpg"><img id="power" src="image/power.jpg" style="width:220px;height:220px;" alt="power"></a></div>

            <div class="pics1"><a id="example5" href="image/loading.jpg"><img id="loading" src="image/loading.jpg" style="width:220px;height:220px;" alt="loading"></a></div>

            <div class="pics1"><a id="example6" href="image/loading.jpg"><img id="loading" src="image/loading.jpg" style="width:220px;height:220px;" alt="loading"></a></div>
          
          </div>

          <div id="tab2" class="tab_content">
          <div id="picss2">
            <div class="pics2"><a id="example7" href="image/soup.jpg"><img id="soup" src="image/soup.jpg" style="width:180px;height:240px;" alt="soup"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">牆壁彩繪-康寶濃湯</p></div></div>

            <div class="pics2"><a id="example8" href="image/yayoi.jpg"><img id="example8" src="image/yayoi.jpg" style="width:180px;height:240px;" alt="yayoi"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">牆壁彩繪-南瓜</p></div></div>

            <div class="pics2"><a id="example9" href="image/flower.jpg"><img id="example9" src="image/flower.jpg" style="width:180px;height:240px;" alt="flower"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">牆壁彩繪-花</p></div></div>

            <div class="pics2"><a id="example10" href="image/digital-designer.jpg"><img id="example10" src="image/digital-designer.jpg" style="width:180px;height:240px;" alt="digital-designer"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">電腦繪圖</p></div></div>

            <div class="pics2"><a id="example11" href="image/sunbaby.jpg"><img id="example11" src="image/sunbaby.jpg" style="width:180px;height:240px;" alt="sunbaby"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">原住民吉祥物</p></div></div>

            <div class="pics2"><a id="example12" href="image/playground.jpg"><img id="example12" src="image/playground.jpg" style="width:180px;height:240px;" alt="playground"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">概念海報</p></div></div>

            <div class="pics2"><a id="example13" href="image/bear.jpg"><img id="example13" src="image/bear.jpg" style="width:180px;height:240px;" alt="bear"></a><div class="pics2in"><p style="font-size:16px;font-family:微軟正黑體;">typography</p></div></div>

            <div class="pics2"><a id="example14" href="image/continue.jpg"><img id="example14" src="image/continue.jpg" style="width:180px;height:240px;" alt="continue"></a><div class="pics2in"></div></div>

          </div>
          </div>

          <div id="tab3" class="tab_content">
            <div id="picss3">
            <div class="pics3"><a id="example14" href="image/IMG_3926.jpg"><img id="IMG_3926" src="image/IMG_3926.jpg" style="width:180px;height:240px;" alt="IMG_3926"></a><div class="pics3in"><p style="font-size:16px;font-family:微軟正黑體;">weather umbrella</p></div></div>
            <div class="pics3"><a id="example14" href="image/IMG_3281.jpg"><img id="IMG_3281" src="image/IMG_3281.jpg" style="width:180px;height:240px;" alt="IMG_3281"></a><div class="pics3in"><p style="font-size:16px;font-family:微軟正黑體;">光敏電阻</p></div></div>
            <div class="pics3"><a id="example14" href="image/IMG_3335.jpg"><img id="IMG_3335" src="image/IMG_3335.jpg" style="width:180px;height:240px;" alt="IMG_3335"></a><div class="pics3in"><p style="font-size:16px;font-family:微軟正黑體;">高電阻實驗</p></div></div>
            
          </div>
          </div>

    </div>
</div>
    
</div>    
    
    
    <div id="footer"><img id="CM2" src="image/CM.png" style="width:50px;height:30px;" alt="CM ">HENG ANN LIN</div>

</div>
</body>

</html>