#wrapper
{
	width:960px;
	margin:0 auto;
	font-size:13px;
	height: 1100px;
}
#header
{
	width:960px;
	height:60px;
	background:#FFFF53;
	margin: 0px auto;
	margin-top: 10px;
	/*margin-right: 10px;*/
}

#sidebar_left{
background-color:#FFE888;
width:410px;
height:600px;
text-align:center;
line-height:600px;
float:left;
margin-top: 10px;
margin-right: 10px;
}
#content{
width:120px;
height:600px;
background-color:#CC8CF3;
text-align:center;
line-height:600px;
float:left;
margin-top: 10px;
}
#sidebar_right{
background-color:#FFE888;
width:410px;
height:600px;
text-align:center;
line-height:600px;
float:right;
margin-top: 10px;
margin-left: 10px;
}
#content{
width:120px;
height:600px;
background-color:#F2FFF2;
text-align:center;
line-height:600px;
margin-top: 10px;
}
#bottom
{
clear:both;
background-color:#bbd9ee;
height:150px;
text-align:center;
line-height:100px;
margin-top: 0px;
}
#footer{
clear:both;
background-color:#0092C7;
height:40px;

line-height:40px;
margin-top: 10px;
text-align:center;
font-family: 'Freckle Face', cursive;
font-size: 18px;

}

.flexbox-item
{
	display: -webkit-inline-box;
	display: inline-flex;
	width:125px;
	height:120px;
	background-color:#FFFB6C;
	margin-left: 30px;

}
.flexbox-item2
{
	display: -webkit-inline-box;
	display: inline-flex;
	width:125px;
	height:120px;
	background-color:#FFFB6C;
	margin-left: 30px;
	margin-top: 60px;

}
#back
{
	width:960px;
	height:130px;
	background-color:#9FE0F6;
	margin-top: -140px;
}
#CM
{
  height: 60px;
  width: 100px;
  margin:0 auto;
  margin-top: 0px;
  float: left;
  margin-left: 10px;
}
#CM2
{
	margin-left: 790px;
	margin-top: 5px;
}

